extends ../_template

block var
	//- - var assetsPath = ""
	- var pageTitl = "TypeDraw"
	- var pageDisc = "TypeDraw, the tiny bingo cage for TypeChat."
	- var pageKeyw = "TypeDraw, TypeChat, podcast, raffle, luck, draw, bingo, TIB, TypeisBeautiful, type, beautiful"
	- var pageLink = siteRoot + "/"
	- var pageHero = siteRoot + assetsPath + "assets/social-thumb.png?v=" + verTag
	- var twitterType = "summary"	// summary | summary_large_image
	- var twitterUser = "@theType"
	- var bodyClass = ""
	- var bodyClassModifier = ""
	//--- Data
	

block bodyMain
	main(role="main")
